@use "~styles/breakpoint" as *;
@use "~styles/colors" as *;
@use "~styles/themes" as *;

@keyframes tile-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tile {
  position: relative;
  border-radius: 3.4rem;
  padding: 2.3rem 3.3rem;
  animation-name: tile-animation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @include breakpoint($mobile) {
    padding: 2rem 1.6rem;
    border-radius: 2rem;
  }

  &--white {
    background-color: #ffffff;
  }

  &--green {
    background-color: color(green1);
  }

  &--purple {
    background-color: color(purple1);
  }

  &--purplegrey {
    background-color: color(purple1);

    *:not(h2) {
      color: #c7bebb;
    }
  }

  &--orange {
    background-color: color(orange1);
  }

  &--grey {
    background-color: #c7bebb;
  }

  &--gray {
    background-color: #f0e7e4;
  }

  &--silver {
    background-color: #e4e4e4;
  }

  &--light {
    @include themify {
      color: themed("lightFontColor");
      background-color: themed("lightColor");
    }
  }

  &--dotted {
    padding-top: 2.8rem;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 2.1rem;
      right: 2.1rem;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      @include themify {
        background-color: themed("backgroundColor");
      }
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto 1.7rem;

    &--overflow {
      margin-top: -7rem;
    }

    &--margin {
      margin: -4rem auto -8rem;
    }

    &--small {
      max-width: 80%;
    }

    @include breakpoint($tablet) {
      max-width: 20rem;
    }
  }
}
